@font-face {
  font-family: "dincond";
  src: url("../Fonts/DINCond-Regular.otf");
}
@font-face {
  font-family: "dincond";
  font-weight: lighter;
  src: url("../Fonts/DINCond-Light_0.otf");
}

@font-face {
  font-family: "dincond";
  src: url("../Fonts/DINCond-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "fontawesome";
  src: url("../Fonts/FontAwesome.otf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h3,
li {
  font-family: "dincond";
}
h3 {
  font-weight: lighter;
}

.container {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.container .nav {
  padding: 1em;
  width: 10%;
}

nav ul{
    margin-top: 50px;
}

nav ul li{
    list-style: none;
    padding: .2em;
    font-size: larger;
}

nav ul li.active{
    color: brown;
}

.container .main {
  width: 70%;
  display: grid;
  grid-template-columns: auto auto;
}

.card img {
  width: 500px;
  height: 300px;
}

.card .info{
    padding: 0 .6em 2.2em;
}
.card .info h3{
 font-weight: bold;
}